.firstsection{
    background-color: yellowgreen
    ;
    height: 100vh;
    width: 100%;
}
.Secondsection{
    background-color: rgb(73, 42, 165);
    height: 100vh;
    width: 100%;
}
.thirdsection{
    background-color: red;
    height: 100vh;
    width: 100%;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
  background-color: #f6f6f6;
}/* Spacing */
td, th {
  border: 1px solid #999;
  padding: 20px;
}
th {
  background: brown;
  color: white;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
}
.primary{
  background-color: #000000
}

tfoot > tr  {
  background: black;
  color: white;
}
tbody > tr:hover {
  background-color: #ffc107;
}

.thirdsec{
    border: 4px dotted black;
    background-color: #f6f6f6;
}



